#page-Landing {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2{
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.logo-container img{
  height: 10rem;
}

.hero-img {
  width: 100%;
}

.button-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 3.2rem 0;
}

.button-container a:first-child {
  margin-right: 1.6rem;

}
.button-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2.0rem Archivo;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  color: var(--button-color-text);

  transition: background-color 0.2s;
}

.button-container a img{
  width: 4rem;
  margin-right: 2.4rem;
}

.button-container .study {
  background-color: var(--color-primary-lighter);
}

.button-container .give-classes {
  background-color: var(--color-secundary);

}

.button-container .study:hover{
  background-color: var(--color-primary-light);
}

.button-container .give-classes:hover {
  background-color: var(--color-secundary-dark);
}

.total-connections {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-connections img {
  margin-left: 0.8rem;
}

@media(min-width: 1100px){
  #page-landing-content {
    max-width: 1100px;

    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;

    grid-template-areas: 
      "logo hero hero"
      "buttons buttons total" 
    ;
  }

  .logo-container {
    grid-area: logo;
    align-self: center;
    margin: 0;
    text-align: left;
  }

  .logo-container h2{
    /* text-align: initial; */
    font-size: 3.6rem;
  }

  .logo-container img {
    height: 100%;
  }

  .hero-img {
    grid-area: hero;
    justify-self: end;
  }

  .button-container {
    grid-area: buttons;
    justify-content: flex-start;

  }
  .button-container  a {
    font-size: 2.4rem;
  }

  .total-connections {
    grid-area: total;
    justify-self: end;
  }
}